/* All */
html * {
    font-family: Roboto, sans-serif !important;
    overflow-y: scroll; overflow-x:hidden;
}

body {
    margin: 0;
}


/* Navbar */
.navbar-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.brand {
    font-size: 1.5em;
}

.navbar-hide {
    visibility: hidden;
}

/* Login */
.form-signin {
    max-width: 330px;
    padding: 15px;
}

/* Post */
.post {
    margin-top: 25px;
    margin-bottom: 25px;
    length: 960px;
}

.content {
    font-size: 2em;
    margin-left: 20%;
    margin-right: 20%;
}