{% extends "blog/base.html" %}

{% block content %}

<div class="container">
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Get in, looser</h1>
        <br>
        {% if form.errors %}
        <div class="form-floating">
            Incorrect credentials, please, try again
        </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-floating">
                {{ form.username }}
                <label for="usernameInput">Email address</label>
            </div>
            <div class="form-floating">
                {{ form.password }}
                <label for="passwordInput">Password</label>
            </div>
            <div class="form-floating">
                <input type="submit" class="w-100 btn btn-lg btn-primary" value="Login">
                <input type="hidden" name="next" value="/posts">
            </div>
        </form>
    </main>
</div>
{% endblock %}