<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/parallax.css' %}">
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
        <span>Hi!</span>
        <br>
        <span>I'm Tony.</span>
    </div>
    <div id="links">
<!--        <a href="{% url 'post_list' %}">Blog</a>-->
        <a href="https://gitlab.com/forc3maet">Gitlab</a>
        <a href="https://t.me/forc3meat">Telegram</a>
        <a href="https://open.spotify.com/user/a8vzpb5uvhoqd0s76tg1d3ybs?si=PaTdb-FiSbGaGNObmDwPiQ">Spotify</a>
    </div>
</body>
</html>