{% extends "blog/base.html" %}
{% block content %}

<h2>new comment</h2>
<form method="post" class="comment-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Comment" class="save btn btn-primary">Comment</button>
</form>

{% endblock %}