{% block navbar %}

<nav class="navbar navbar-expand-md navbar bg-dark pb-3 mb-4 border-bottom">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a href="{% url 'post_list' %}" class="navbar-brand brand nav-link text-light">Tony</a></li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-light">Welcome, {{ user.username }}</a></li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'post_add' %}">Post new</a></li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'draft_list' %}">Drafts</a></li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>-->
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
</nav>

{% endblock %}