{% extends "blog/base.html" %}
{% block content %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    {% for post in post_list %}
    <div class="container-fluid py-5">
        <a class="h1" href="{% url 'post_content' pk=post.pk %}">{{ post.title }}</a>
<!--        <div class=""><p>Publish date: {{ post.publish_date | date:"d-m-Y" }}</p></div>-->
<!--        <div class="">Comments: {{ post.comment.count }}</div>-->
        <!-- TODO: add post.views.count -->
    </div>
    {% endfor %}
</div>

{% endblock %}