{% extends "blog/base.html" %}
{% block content %}

<form class="post-form" method="post">
    <div class="container content">
        <div class="row py-5"></div>
            {% csrf_token %}
            <p>R u sure?</p>
            <input class="btn btn-danger" type="submit" value="Confirm"/>
        </div>
    </div>
</form>

{% endblock %}
