{% extends "blog/base.html" %}
{% block content %}
{% load markdown %}

<div class="h1">
    {{ post.title }}
</div>

{% if post.publish_date %}
<div class="">{{ post.publish_date }}</div>
{% else %}
<a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
    <span class="glyphicon glyphicon-edit"></span> Edit
</a>

<a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
    <span class="glyphicon glyphicon-remove"></span> Remove
</a>
{% endif %}

<div class="content markdown">
    {{ post.content | markdown | safe }}
</div>

<!--{%  if post.publish_date %}-->
<!--<a class="btn btn-primary btn-comment" href="{% url 'comment_post' pk=post.pk %}">Add comment</a>-->
<!--<div class="container">-->
<!--    {% for comment in post.comment.all %}-->
<!--    <br>-->
<!--    <div class="content">-->
<!--    {% if comment.approved %}-->
<!--        {{ comment.create_date }}-->
<!--        {% if not comment.approved %}-->
<!--            <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}">-->
<!--                <span class="glyphicon glyphicon-remove">Remove</span>-->
<!--            </a>-->
<!--            <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">-->
<!--                <<span class="glyphicon glyphicon-ok"></span> Approve-->
<!--            </a>-->
<!--        {% endif %}-->

<!--        <p>{{ comment.content | safe | linebreaks }}</p>-->
<!--        <p>Comment by: {{ comment.author }}</p>-->
<!--    {% endif %}-->
<!--    </div>-->
<!--    {% empty %}-->
<!--    <p>No comments</p>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--{% endif %}-->

{% endblock %}

