{% extends "blog/base.html" %}
{% block content %}

<form class="post-form" method="post">
    <div class="container content">

        <div class="row py-5"></div>

        <div class="container">
            {{ form.title }}
        </div>

        <div class="row py-5"></div>

        <div class="container">
            {{ form.content }}
        </div>
    {% csrf_token %}
    </div>
    <button type="submit" class="btn btn-primary save">Save</button>
</form>

{% endblock %}