{% extends "blog/base.html" %}
{% block content %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    {% for post in post_list %}
    <div class="container-fluid py-5">
        <a class="h1" href="{% url 'post_content' pk=post.pk %}">{{ post.title }}</a>
<!--        <div class=""><p>Date of creation: {{ post.create_date | date:"d-m-Y" }}</p></div>-->
    </div>
    {% empty %}
        <h1>Got no drafts. Start new one!</h1>
    {% endfor %}
</div>

{% endblock %}